body{
    font-family: Arial;
    background:#f4f6f9;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    margin:20px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.title{
    font-size:22px;
    font-weight:bold;
}

.btn{
    background:#2563eb;
    color:white;
    padding:10px 15px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.btn:hover{
    background:#1e40af;
}
